@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h3>Top 10 Teams</h3>
    <table class="table table-striped table-hover table-bordered text-center col-md-6">
        <tr>
            <th>Team Logo</th>
            <th>Team Name</th>
            <th>Rating</th>

        </tr>
        @foreach (var team in Model.DotaTeams.Take(10))
        {

            <tr>
                <td>
                    <img src="@Url.Content($"{team.LogoUrl}")"/>
                </td>
                <td>@team.Name</td>
                <td>@team.Rating</td>
            </tr>
        }
    </table>


</div>