/* /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: left;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
 /* background-color: #070B0C;*/
 background: rgb(7,11,12);
 background: -moz-linear-gradient(180deg, rgba(7,11,12,1) 0%, rgba(57,62,65,1) 62%, rgba(184,184,184,1) 100%);
 background: -webkit-linear-gradient(180deg, rgba(7,11,12,1) 0%, rgba(57,62,65,1) 62%, rgba(184,184,184,1) 100%);
 background: linear-gradient(180deg, rgba(7,11,12,1) 0%, rgba(57,62,65,1) 62%, rgba(184,184,184,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#070b0c",endColorstr="#b8b8b8",GradientType=1);
 
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
} 
/*My Css--------------------------------------------*/



/*MyNavbar------------------------------------------*/
.headerbgcolor{
  background-color: #0D1821;
}
#myheader{ 
  background-color: #070B0C; opacity: 0.8;
  border-bottom: 7px inset #8B0E10; 
  overflow: hidden;
  position: fixed; 
  width: 100%;
}
#mybrand{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff; opacity: 0.8;
}
#mynavlink{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff; opacity: 0.8;
}

    /*
.sticky {
  position: fixed; 
  top: 0px;
  width: 100%;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-bottom: 60px;
  margin-bottom: 10px;
}
*/

/*Banner---------------------------------------------*/


 #mybannerimg {
  width: inherit;
  padding-right: 0px;
  padding-left: 0px
}
    


/*Body*/
.backgroundbody{
    background-color:darkred;
}

/*Main----------------------------------------------*/
.maincontainer {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #393E41;
}

/*LIVETABLE-------------------------------------------*/

#livetableheader {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#livetablecategorie {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
} 


/*Live match card--------------------------------------*/
#livecard {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-block: solid #8B0E10;
    background-color: #5D737E;
}
#playerscard {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-block: solid #8B0E10;
    background-color: #5D737E;
}